@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600;800&family=Poppins:wght@500&display=swap');


html {
    box-sizing: border-box;
    font-size: 16px;
  }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    /* position: relative; */
    /* border: 1px blue solid; */
    /* max-width: 90%; */
    margin: auto;
    

  }


img {
    max-width: 100%;
    height: auto;
  }

.logo {
    background-color: white;

    font-family: 'Martel', serif;
    font-size: 2.5rem;
    
}

.contenedor-top-bar{
    background-color: lightcoral;

    display: flex;
    justify-content: space-between;
    border: 5px yellow solid;
    align-items: center;

}


.cuenta-y-carrito {
    background-color: yellowgreen;

    display: flex;
}

#user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    border: 1px red solid;
}

#shop-bag-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 3rem; */
    border: 1px red solid;
}

.cuenta-y-carrito div img{
    /* display: flex; */
    width:3rem;
}


.cuenta-y-carrito p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

.contenedor-navbar {
    border: 3px green solid;
}

.contenedor-navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    /* position: relative; */
}


/* todo                 FOOTER */

footer {
    background-color: lightgrey;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-info ul{
    list-style: none;
    border: 1px red solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.footer-info ul li{
    margin: 1rem;
}

.footer-newsletter  {
    border: 1px green solid;
    text-align: right;
}

.footer-newsletter  p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.titulo-newsletter {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}



/* ?  CSS   ROPA MUJERES */





/* ?  CSS   ROPA HOMBRES */
/* ?  CSS   ROPA NIÑOS */



/* todo             MEDIA QUERIES */
@media only screen and (max-width: 500px) {
    
    .logo {
        all:unset;
        font-family: 'Martel', serif;
        font-size: 1.5rem;
    }


    .footer-info{
        all: unset;
        font-size: 0.5rem;

    }
    .footer-newsletter{
        font-size: unset;
        font-size: 0.5rem;

    }










  }
