@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600;800&family=Poppins:wght@500&display=swap');


html {
    box-sizing: border-box;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    position: relative;
    /* border: 1px blue solid; */
    /* max-width: 90%; */
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;

}


img {
    max-width: 100%;
    height: auto;
}

.logo {
    /* background-color: white; */

    font-family: 'Martel', serif;
    font-size: 2.5rem;
}

.logo a {
    text-decoration: none;
    color: black;
}

.contenedor-top-bar {
    /* background-color: lightcoral; */

    display: flex;
    justify-content: space-between;
    /* border: 5px yellow solid; */
    align-items: center;


}


.cuenta-y-carrito {
    /* background-color: yellowgreen; */

    display: flex;

    padding-right: 1rem;
}

#user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    /* border: 1px red solid; */
    vertical-align: middle;
}

#user-section p {
    white-space: nowrap;
}



#shop-bag-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    /* border: 1px red solid; */
}


#shop-bag-section a img {
    /* position: sticky; */

}

#shop-bag-section img {
    /* position: sticky; */

}

#shop-bag-section p {
    white-space: nowrap;

}

.cuenta-y-carrito div img {
    width: 3rem;
}


.cuenta-y-carrito p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

/* 
.contenedor-navbar {
    border: 3px green solid;
} */

.contenedor-navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    /* position: relative; */
}

.contenedor-navbar ul li a {
    text-decoration: none;
    color: black;

}


ul li a:hover {
    text-decoration: underline;
    color: blue;

}

.cuenta-y-carrito div p a {
    text-decoration: none;
    color: black;
}


.cuenta-y-carrito div p a:hover {
    text-decoration: underline;
    color: blue;
}


/* todo                 FOOTER */

footer {
    background-color: lightgrey;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    bottom: 0;
    /* width: 100%; */
    /* height: 2.5rem;   */

}

.footer-info ul {
    list-style: none;
    border: 1px red solid;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.footer-info ul li {
    margin: 1rem;
}

.footer-newsletter {
    border: 1px green solid;
    text-align: right;
}

.footer-newsletter p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.titulo-newsletter {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}



/* ?  CSS   ROPA MUJERES */

/* todo         CARDS */



.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 1rem;
}


.card {
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 18.75rem;


    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.card_main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card_image img {}


/* .contenedor-carta-texto {
}

.contenedor-carta-texto h3 {
}

.contenedor-carta-texto p {
} */


.contenedor-precios-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18.60rem;
    border: 1px red solid;
}

.contenedor-precios-btn p {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.contenedor-precios-btn button {
    height: 3rem;
    width: 7rem;

}

/* .bolsita {
    position: sticky;
    top: 10rem;
} */



#btn-shopping-bag {
    display: flex;
    align-items: center;
    justify-content: center;

}

#btn-shopping-bag:hover {
    background-color: lightgreen;
}

#btn-shopping-bag img {
    width: 15px;
}

/* .card_main h3 {
    font-size: 1.5rem;
    margin-top: .25rem;
}

.card_main p {
    text-align: center;
    max-width: 300px;
    padding: 0.5em;
} */




.btn {
    /* padding: 0.5em 2em;
    margin-bottom: 1em;
    border-radius: 1rem; */
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


/* .btn_color:hover {
    background: red;
    color: yellow;
    font-weight: bold;
} */

/* .contenedor-precio-btn a:hover {
    background: red;
    color: yellow;
    font-weight: bold;
} */


.one {
    background-color: yellow;
    /* position: relative; */
}

.two {
    background-color: lightpink;
    position: sticky;
    top: 10rem;

}

.three {
    background-color: aquamarine;
}











/* ?  CSS   ROPA HOMBRES */
/* ?  CSS   ROPA NIÑOS */



/* todo             MEDIA QUERIES */
@media only screen and (max-width: 500px) {

    .logo {
        all: unset;
        font-family: 'Martel', serif;
        font-size: 1.5rem;
    }


    .footer-info ul {
        font-size: 0.8rem;

    }

    .footer-newsletter p {
        font-size: 0.8rem;

    }

}